{% extends 'frilium/admin/layout.html' %}
{% load crispy_forms_filters humanize frilium_tags%}

{% block tabs %}
    {% include 'frilium/admin/sidenav.html' with active_tab=2 %}
{% endblock %}

{% block section %}
    <div class="page-header row align-items-center">
        <div class="col">
            <h1>Categories</h1>
        </div>
    </div>
    <div class="card card-admin-form">
        <form method="post">
            <h5 class="card-header">
                New Category
            </h5>
            <div class="card-body">
                <div class="form-fieldset">
                    <fieldset>
                        {% csrf_token %}
                        {{ form|crispy }}
                    </fieldset>
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-login btn-sm indigo text-white" type="submit">
                    <i class="fas fa-sign-out-alt"></i> Add Category
                </button>
            </div>
        </form>
    </div>
{% endblock %}