{% extends '_base.html' %}

{% load crispy_forms_filters %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="card">
        <h6 class="card-header blue darken-3 text-white"> Login </h6>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
                <button class="btn btn-sm blue darken-3 text-white" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock content %}
