{% extends '_base.html' %}

{% load crispy_forms_filters %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        <a class="text-white" href="{% url 'boards:home' %}"><i class="fas fa-home fa-fw"></i> Boards</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-white-50">
        <a class="text-white" href="{% url 'users:user_options' %}">User Control Panel</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-white-50">
        <a class="text-white" href="{% url 'users:user_options' %}">Home</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-white-50">Change password</li>
{% endblock %}

{% block content %}
    {% include 'includes/tab-list.html' %}
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="inner">
                <div style="width: 100%">
                    <div id="cp-menu" class="cp-menu">
                        <div id="navigation" class="navigation" role="navigation">
                            <ul>
                                <li class="menu"><a href="{% url 'users:user_options' %}">
                                    <i class="fas fa-binoculars fa-fw"></i> Overview</a>
                                </li>
                                <li class="menu"><a href="">
                                    <i class="fas fa-user-edit fa-fw"></i> Edit details</a>
                                </li>
                                <li class="menu"><a href=""><i
                                        class="fas fa-id-card-alt fa-fw"></i> Change username</a></li>
                                <li class="menu"><a href=""><i
                                        class="fas fa-envelope fa-fw"></i> Change email</a></li>
                                <li class="menu">
                                    <a class="activenav" href="{% url 'account_change_password' %}"><i
                                            class="fas fa-key fa-fw"></i> Change password</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="cp-main-password" class="cp-main ucp-main panel-container">
                        <div class="panel">
                            <div class="inner">
                                <form method="post">
                                    <div class="panel-form">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Change password</h4>
                                        </div>
                                        <hr>
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button class="btn btn-sm indigo text-white" type="submit">
                                            Change password
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
{% endblock %}

