{% extends '_base.html' %}

{% load crispy_forms_filters %}

{% block title %}Signup{% endblock title %}

{% block content %}
    <div class="card">
        <h6 class="card-header blue darken-3 text-white"> Signup </h6>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="blue darken-3 btn btn-sm text-white" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}
