{% extends 'frilium/thread/topics.html' %}

{% block header %}
    <div class="forum-header text-center py-2">
        <header>
            <h1 class="forum-title">Public Threads</h1>
            {% block page-tabs %}
                {% include 'frilium/thread/page-tabs.html' with active_tab=1 %}
            {% endblock %}
        </header>
    </div>
{% endblock %}

{% block topic-category %}
    <span class="topic-category">
      <a href="{% url 'frilium:category:topic-category' topic.board.category.slug topic.board.category.pk %}">
          {{ topic.board.category.get_html_badge }}</a>
    </span>
{% endblock %}