[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"

[packages]
django-autoslug = "==1.9.8"
django-crispy-forms = "==1.9.2"
django-extensions = "==3.1.5"
psycopg2-binary = "==2.8.5"
pytz = "==2020.1"
six = "==1.15.0"
sqlparse = "==0.3.1"
django-classy-tags = "==3.0.1"
django-sekizai = "==3.0.1"
django-mptt = "==0.13.4"
django-widget-tweaks = "==1.4.12"
"backports.zoneinfo" = "==0.2.1"
django-js-asset = "==1.2.2"
importlib-metadata = "==4.10.1"
zipp = "==3.7.0"
Markdown = "==3.3.6"
redis = "*"
django-redis = "*"
django = "*"
unidecode = "*"

[requires]
python_version = "3.8"
