{% extends 'frilium/admin/layout.html' %}

{% block heading %}
    <div class="pull-left">
        <h1 id="main-page-title">Dashboard</h1>
    </div>
{% endblock %}

{% block main-menu %}
    {% include 'frilium/admin/main-menu.html' with active_tab=0 %}
{% endblock %}

{% block section %}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="stats-widget">
                        <div class="icon">
                            <i class="material-icon">people</i>
                        </div>
                        <div class="text">
                            <var>{{ users_count }}</var>
                            <label class="text-muted">User{{ users_count|pluralize }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="stats-widget">
                        <div class="icon">
                            <i class="material-icon">forum</i>
                        </div>
                        <div class="text">
                            <var>{{ topic_count }}</var>
                            <label class="text-muted">Topic{{ topic_count|pluralize }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card stats-widget">
                <div class="card-body">
                    <div class="stats-widget">
                        <div class="icon">
                            <i class="material-icon">chat</i>
                        </div>
                        <div class="text">
                            <var>{{ posts_count }}</var>
                            <label class="text-muted">Post{{ posts_count|pluralize }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card stats widget">
                <div class="card-body">
                    <div class="stats-widget">
                        <div class="icon">
                            <i class="material-icon">group_work</i>
                        </div>
                        <div class="text">
                            <var>{{ category_count }}</var>
                            <label class="text-muted">Categor{{ category_count|pluralize:'y,ies' }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}