{% extends 'frilium/admin/base.html' %}

{% block article %}

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
            <strong><i class="material-icon">done_all</i> {{ message }}</strong>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col col-nav-side">
            {% block tabs %}
            {% endblock %}
        </div>
        <div class="col">
            {% block section %}{% endblock %}
        </div>
    </div>
{% endblock %}