{% extends 'frilium/admin/base.html' %}

{% load frilium_tags %}

{% block body %}

    <nav class="header" id="header" style="position: relative">

        {% block heading %}
        {% endblock %}

        <ul class="quick-actions">
            <li><a href=""><img src="{% avatar_url request.user '35' %}" class="circular" alt=""></a></li>
            <li><a href="{% url 'frilium:index' %}"><i class="material-icon">house</i></a></li>
            <li><a href=""><i class="material-icon">notifications</i></a></li>
            <li><a href=""><i class="material-icon">search</i></a></li>
        </ul>

        {% block main-menu %}
        {% endblock %}
    </nav>

    <div class="container pb-3 mt-5">
        {% block section %}
            {% block side-menu %}
            {% endblock %}
        {% endblock %}
    </div>

{% endblock %}