<nav class="nav nav-side-link">
    <a href="{% url 'frilium:admin:dashboard' %}" class="nav-link nav-section active">
        <div class="media-icon">
            <span class="material-icon">home</span>
        </div>
        <div class="">Dashboard</div>
    </a>
    <a href="{% url 'frilium:admin:user:user-list' %}" class="nav-link nav-section">
        <div class="media-icon">
            <span class="material-icon">people</span>
        </div>
        <div class="">Users</div>
    </a>
    <a href="" class="nav-link nav-section">
        <div class="media-icon">
            <span class="material-icon">group_work</span>
        </div>
        <div class="">Categories</div>
    </a>
</nav>