{% extends 'frilium/admin/layout.html' %}

{% load frilium_tags humanize %}

{% block section %}
    <div class="page-header row align-items-center">
        <div class="col">
            <h1>Users</h1>
        </div>
        <div class="col-auto page-action">
            <a href='{% url 'frilium:admin:user:new-user' %}' class="btn text-white btn-sm">
                <span class="material-icon">add_circle</span> New User
            </a>
        </div>
    </div>
    <div class="card card-admin-table">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 1px" class="row-select"> &nbsp;</th>
                <th style="width: 1px">&nbsp;</th>
                <th>User</th>
                <th style="width: 1px">&nbsp;</th>
                <th style="width: 150px">Rank</th>
                <th style="width: 200px">Registration</th>
                <th style="width: 150px">Posts</th>
                <th style="width: 150px">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for user in users %}
                <tr>
                    <td class="row-select">
                        <label>
                            <input type="checkbox">
                        </label>
                    </td>
                    <td class="pr-0">
                        <a href="{% url 'frilium:user:user_posts' user user.pk %}">
                            <img class="circular" src="{% avatar_url user '40' %}" alt="" width="40" height="40">
                        </a>
                    </td>
                    <td class="pr-0">
                        <div class="small">
                            <a class="item-name" href="{% url 'frilium:admin:user:edit' user.pk %}">{{ user }}</a>
                        </div>
                        <div class="small">
                            <a href="mailto:{{ user.email }}" class="">{{ user.email }}</a>
                        </div>
                    </td>

                    <td class="badges-list">
                        {% if user.is_admin %}
                            <span class="badge badge-secondary">Super Admin</span>
                        {% endif %}
                    </td>
                    <td class="small"> Forum Team</td>
                    <td class="small">
                        <abbr title="{{ user.date_joined }}">{{ user.date_joined|naturaltime }}</abbr>
                    </td>
                    <td class="small">{{ user.posts.count }}</td>
                    <td class='btn-list'>
                        <a href="{% url 'frilium:admin:user:edit' user.pk %}" class="btn btn-icon md-tooltip--top"
                           data-md-tooltip="Edit">
                            <span class="material-icon">edit</span>
                        </a>
                        <button class="btn btn-icon md-tooltip--top" data-md-tooltip="Ban">
                            <span class="material-icon">flag</span>
                        </button>
                        <button class="btn btn-icon md-tooltip--top" data-md-tooltip="Delete">
                            <span class="material-icon">delete</span>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
