{% extends 'frilium/admin/layout.html' %}
{% load humanize %}

{% load frilium_tags %}

{% block heading %}
    <div class="pull-left">
        <h1 id="main-page-title">Users</h1>
    </div>
{% endblock %}

{% block main-menu %}
    {% include 'frilium/admin/main-menu.html' with active_tab=1 %}
{% endblock %}

{% block section %}

    <div class="row">
        <div class="col-md-12 p-4">
            <div class="clearfix">
                <div class="float-left">
                    <a class="btn btn-success" href="{% url 'frilium:admin:users:new-users' %}">
                        <i class="material-icon">person_add</i> New user
                    </a>
                </div>
                <div class="float-right">
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Edit
                        </button>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Filter by
                        </button>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card card-admin-table">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th style="width: 1px" class="row-select">
                            <input type="checkbox" name="rowtoggle" class="action-checkall"
                                   title="Select All"/>
                        </th>
                        <th style="width: 1px">&nbsp;</th>
                        <th>username</th>
                        <th>Role</th>
                        <th>Joined</th>
                        <th>Posts</th>
                        <th>flags</th>
                        <th>last online</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for user in users %}
                        <tr>
                            <td class="row-select">
                                <input type="checkbox" name="rowid" class="action-checkbox" value="{{ user.id }}"
                                       title="Select User"/>
                            </td>
                            <td class="pr-0">
                                <a href="{% url 'frilium:users:profile' user %}">
                                    <img class="circular" src="{% avatar_url user '40' %}" alt="" width="40"
                                         height="40">
                                </a>
                            </td>
                            <td class="pr-0">
                                <div class="small">
                                    <a class="item-name"
                                       href="{% url 'frilium:users:profile' user %}">{{ user }}</a>
                                </div>
                                <div class="small">
                                    <a href="mailto:{{ user.email }}" class="">{{ user.email }}</a>
                                </div>
                            </td>
                            <td class="small"> Forum Team</td>
                            <td class="small">
                                <abbr title="{{ user.date_joined }}">{{ user.date_joined|humanizetime }}</abbr>
                            </td>
                            <td class="small">{{ user.posts.count }}</td>

                            <td class="small"></td>
                            <td class="small"></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $(document).ready(function () {
            $('.action-checkall').change(function () {
                $('input.action-checkbox').prop('checked', this.checked);
            });
        });

    </script>
{% endblock %}
