{% load static frilium_tags sekizai_tags %}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>{% spaceless %}{% block title %}Frilium Community{% endblock %}{% endspaceless %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    {% block stylesheet %}{% endblock %}
    {% render_block 'css' %}
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'favicon-32.png' %}">
</head>
<body>
<div class="container mt-3">
    <div style="background: #6554c0" class="card card-container justify-content-start text-dark">
        <div class="card-body title-body">
            <h4 class="card-title text-white">Frilium Forums</h4>
            <p class="card-text text-white">Community Discussion Board.</p>

        </div>
        <nav class=" card-footer navbar navbar-expand-sm navbar-light bg-light py-1">
            <a href="{% url 'frilium:index' %}" class="navbar-brand">Frilium</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link navigation" href="{% url 'frilium:categories:categories' %}"> <span
                            class="material-icon">menu_open</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navigation" href=""> <span
                            class="material-icon">mark_chat_unread</span> </a>
                </li>

                {% if request.user.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link navigation" href="{% url 'frilium:admin:dashboard' %}">
                            <span class="material-icon">engineering</span>
                        </a>
                    </li>
                {% endif %}

            </ul>

            <ul class="navbar-nav ml-auto">
                {% if not user.is_authenticated %}
                    <li class="nav-item mr-3">
                        <a class="btn btn-sign-in btn-primary btn-sm nav-link text-white" type="button"
                           href="{% url 'frilium:auth:login' %}">
                            Sign in </a>
                    </li>

                    <li class="nav-item">
                        <a class="btn btn-signup btn-secondary btn-sm nav-link text-white" type="button"
                           href="{% url 'frilium:auth:signup' %}">
                            Signup </a>
                    </li>
                {% else %}
                    <ul class="navbar-nav ml-auto mx-2">
                        <li class="nav-item">
                            <a href=""
                               class="navbar-icon">
                                <span class="material-icon">search</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href=""
                               class="navbar-icon">
                                <span class="material-icon">notifications_active</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'frilium:topics:private:index' %}"
                               class="navbar-icon" title="private threads">
                                <span class="material-icon">chat_bubble_outline</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown user-dropdown">
                            <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="{% avatar_url request.user '35' %}" class="circular" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-primary arrow_box"
                                 aria-labelledby="navbarDropdownMenuLink">
                               <span class="dropdown-header">
                                   <strong>{{ request.user }}</strong>
                               </span>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'frilium:users:edit-users' user %}">
                                    <i class="material-icon">settings_input_component</i> User Control Panel
                                </a>
                                <a class="dropdown-item"
                                   href="{% url 'frilium:users:profile' request.user %}">
                                    <i class="material-icon">account_circle</i> My profile </a>
                                <a class="dropdown-item"
                                   href="{% url 'frilium:topics:private:index' %}">
                                    <i class="material-icon">chat_bubble_outline</i> Private topics </a>
                                <div class="dropdown-divider"></div>
                                <a onclick="return confirm('Are you sure you want to sign out?')"
                                   class="dropdown-item dropdown-buttons btn btn-block"
                                   href="{% url 'frilium:auth:logout' %}">
                                    <i class="fas fa-power-off fa-fw"></i> Logout </a>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

<div class="container mt-3">

    {% block content %}
    {% endblock %}

    <div class="frilium-footer text-center">
        <div class="footer-content">
            <a href="{% url 'frilium:index' %}" class="frilium-branding">Powered by <strong>frilium</strong></a>
            <i style="color: #172b4d" class="material-icon">favorite</i>
        </div>
    </div>

</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mdb.min.js' %}"></script>
{% block javascript %}{% endblock %}
{% render_block 'js' %}
{% block extra_body %}{% endblock %}

</body>
</html>