{% extends 'frilium/_base.html' %}

{% load frilium_tags static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active text-white-50">
        <span><i class="material-icon">home</i> Boards</span>
    </li>
{% endblock %}

{% block content %}
    {% block category %}
        <div class="row my-3">
            <div class="col-md-3 dropdown">
                <div class="dropdown category-dropdown">
                    <button class="btn btn-category btn-md" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span><i class="material-icon">loyalty</i> Category</span>
                    </button>
                    <ul class="dropdown-menu stick-to-bottom" aria-labelledby="dropdownMenuButton">
                        {% for category in categories %}
                            <li><a class="btn btn-link"
                                   href="{% url 'frilium:category:cat-list' category.slug category.pk %}">
                                {{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}

    {% if boards %}
        <div class="forums-mount mb-4">
            <div class="forums-list">
                {% for board in boards %}
                    <ul class="list-group list-group-forum mt-3 mb-1">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6 forum-main">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="read-status">
                                                <span class="forum-icon material-icon">chat_bubble</span>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <a href="{% url 'frilium:thread:board_topics' board.slug %}">
                                                    {{ board.name }}</a>
                                            </h4>
                                            <div class="forum-description">
                                                <p>{{ board.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <ul class="list-unstyled forum-stats">
                                        <li class="forum-topics-stats">
                                            <span class="far fa-file fa-fw"></span>
                                            {{ board.topic_count }} topic{{ board.topic_count|pluralize }}
                                        </li>
                                        <li class="forum-posts-stats">
                                            <span class="fab fa-stack-exchange fa-fw"></span>
                                            {{ board.post_count }} post{{ board.post_count|pluralize }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4 forum-last-topic">
                                    <div class="media">
                                        <div class="media-left">
                                            {% with post=board.get_last_post %}
                                                {% if post %}
                                                    <a href="{% url 'frilium:user:user_posts' post.user post.user.pk %}"
                                                       class="last-poster-avatar">
                                                        <img src="{% avatar_url post.user '40' %}" alt=""
                                                             class="media-class circular"
                                                             width="40" height="40">
                                                    </a>
                                                {% endif %}
                                                </div>
                                                <div class="media-body">
                                                <div class="media-heading">
                                                    {% if post %}
                                                        <a href="{% url 'frilium:post:topic_post' post.topic.slug post.topic.pk %}#p-{{ post.id }}"
                                                           class="item-title topic-title">{{ post.topic.title }}</a>
                                                    {% endif %}
                                                </div>
                                                <ul class="list-inline">
                                                <li class="forum-last-topic-poster">
                                                    {% if post %}
                                                        <a href="{% url 'frilium:user:user_posts' post.user post.user.pk %}"
                                                           class="item-title">{{ post.user }}</a>
                                                    {% endif %}
                                                </li>
                                                <li class="divider">&mdash;</li>
                                                <li class="forum-last-topic-date">
                                                    {% if post %}
                                                        <a href="{% url 'frilium:post:topic_post' post.topic.slug post.topic.pk %}#p-{{ post.id }}">
                                                            {{ post.topic.last_updated|humanizetime }}</a>
                                                    {% endif %}
                                                </li>
                                            {% endwith %}
                                            </ul>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <ul class="list-group">
            <li class="list-group-item empty-message">
                <i class="material-icon md-18">announcement_late</i>
                <p class="lead">There are no forums created yet!</p>
                <p>Contact your site Administrator to start one!</p>
            </li>
        </ul>
    {% endif %}

{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}