{% extends 'frilium/users/user_layout.html' %}

{% load frilium_tags %}

{% block breadcrumb %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="deep-purple-text" href="{% url 'frilium:index' %}"> Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ user_p }}</li>
    </ol>
  </nav>
{% endblock %}

{% block user_profile %}
  <div class="profile row">
    <h1 class="fullname">{{ user_p.name|default:user_p }}</h1>
    <h1 class="username">@{{ user_p }}</h1>
    {% if user_p.bio %}
      <span class="text-center bio">
                <span>{{ user_p.bio }}</span>
        </span>
    {% endif %}
    <div class="account-stats">

      <div class="stat">
        <div class="number">0</div>
        <span class="stat-label">Reputation</span>
      </div>
      <div class="stat">
        <div>
          <a class="number" href="">{{ user_p.posts.count }}</a>
        </div>
        <span class="stat-label">Posts</span>
      </div>
      <div class="stat">
        <div class="number">0</div>
        <span class="stat-label">Following</span>
      </div>
      <div class="stat">
        <div class="number">0</div>
        <span class="stat-label">Followers</span>
      </div>
    </div>
    <div class="text-center profile-misc">
      <span>Joined</span>
      <strong class="timeago">{{ user_p.date_joined }}</strong>
    </div>
  </div>
{% endblock %}

<div class="row">

  <div class="col-md-3 profile-sidebar">
    {% block profile-sidebar %}
      <div class="avatar-wrap d-flex justify-content-center">
        <img src="{% avatar_url user_p '256' %}" alt="{{ user_p }}" class="circular w-75">
        <span data-toggle="tooltip"
              data-placement="top"
              title="Online"
              class="avatar-online"></span>
      </div>
      <div class="list-group nav-side mt-2">

        {% block tabs %}{% endblock %}

      </div>
    {% endblock %}
  </div>


  <div class="col-md-9 profile-content">

    {% block profile-content %}
      <div class="page-header-bg">
        <div class="page-header">
          <div class="container">
            {% if not user.username == user_p.username %}
              <a href="" class="btn btn-default btn-sm float-right">Private Message</a>
            {% endif %}

            <h1>{{ user_p.username }}</h1>
          </div>
          <div class="header-stats">
            <div class="container">
              <ul class="list-inline">
                <li class="user-rank">
                  <span>Team member</span>
                </li>
                <li class="user-email">
                  <a href="mailto:{{ user_p.email }}" class="">
                    {{ user_p.email }}</a>
                </li>
                <li class="user-joined">
                  <abbr title="{{ user_p.date_joined }}">
                    Joined {{ user_p.date_joined|humanizetime }}</abbr>
                </li>
                <li class="user-last-post">
                  {% if user_p.last_post %}
                    <em><span>Last post {{ user_p.last_post|humanizetime }}</span></em>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}

    {% block section %}{% endblock %}

  </div>
</div>

{% block javascript %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

{% endblock %}