<div class="list-group nav-side ">
    <a class="list-group-item {% if active_tab == 0 %} active{% endif %}"
       href="{% url 'frilium:user:edit-user' %}">
        <i class="fas fa-user-edit fa-fw"></i> Preferences</a>
    <a class="list-group-item {% if active_tab == 1 %} active{% endif %}"
       href="{% url 'frilium:user:password-change' %}">
        <i class="fab fa-keycdn fa-fw"></i> Change password</a>
    <a class="list-group-item {% if active_tab == 2 %} active{% endif %}"
       href="{% url 'frilium:user:email-change' %}">
        <i class="fas fa-envelope-open fa-fw"></i> Change email</a>
</div>