{% extends 'frilium/user/profile_layout.html' %}

{% load crispy_forms_filters %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active text-white-50">Preferences</li>
{% endblock %}

{% block tabs %}
    {% include 'frilium/user/cp-nav.html' with active_tab=0 %}
{% endblock %}

{% block profile %}

    <div>
        <form method="post">
            <div class="panel panel-default panel-form">
                <div class="panel-heading">
                    <h3 class="panel-title">Preferences</h3>
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-password btn-sm indigo text-white" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}