{% extends 'frilium/_base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="form d-flex justify-content-center">
        <form class="col-md-7" method="post">
            <div class="panel panel-default panel-form">
                <div class="panel-heading sign-in text-center">
                    <h3 class="panel-title reset-title">Forgot Password</h3>
                    <p>
                        To receive this link, enter your account's e-mail address in form and press the "Send link"
                        button.</p>
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-login btn-block indigo text-white" type="submit">
                        Send link
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}