body {
    font-size: 13px;
    font-weight: normal !important;
    color: #172b4d !important;
}

.form-control {
    font-size: inherit;
}

.form-control:focus {
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

.arrow_box {
    position: relative;
    background: #ffffff;
    border: 1px solid inherit;
}

.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    left: 81%;
    border: solid #b9b9b9;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
}

.arrow_box:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: -9px;
}

.user-dropdown .dropdown-menu {
    min-width: 111px !important;
    min-height: 60px !important;
    border-radius: 5px !important;
    font-size: inherit !important;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    left: -50px !important;
    padding: 5px;
    border-color: #b9b9b9b9;
}

.category-dropdown .dropdown-menu {
    border: none;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .04),
    0 1px 10px 0 rgba(0, 0, 0, .12),
    0 2px 4px -1px rgba(0, 0, 0, .06);
    font-size: 14px;
    padding: 5px 0;
    border-radius: 4px;
    width: 300px;
    margin: 2px 0 0;


}

.category-dropdown .dropdown-menu > li > .btn-link,
.category-dropdown .dropdown-menu > li > a {
    padding: 6px 20px;
    text-decoration: none;
    text-transform: none;
    border: none;
    display: block;
    clear: both;
    width: 100%;
    text-align: left;
    line-height: 1.4283;
    font-weight: 400;
    font-size: 13px;
    color: #172b4d;
}

.dropdown-menu.stick-to-bottom {
    max-height: 300px;
    clear: both;
    overflow-y: auto;
    transform: none !important;
    top: 42px !important;
}

.category-dropdown .dropdown-menu > li > .btn-link:hover,
.category-dropdown .dropdown-menu > li > a:hover {
    background-color: #ebecf0;
}

.dropdown-item {
    padding: 5px !important;
    font-size: inherit !important;
}

.dropdown-divider {
    margin: 0;
}

.dropdown-item:hover {
    background-color: white;
}

.dropdown .dropdown-menu .dropdown-item:active {
    background-color: white;
}

.dropdown-item:focus {
    background: white;
    outline: none;
}

.navbar .breadcrumb-item + .breadcrumb-item::before {
    color: #bdbdbd;
    content: none;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
}

.btn {
    margin: 0;
}

.nav-item .btn {
    text-transform: none;
    font-weight: 400;
    box-shadow: none;
    font-size: 13px !important;
    border-radius: 4px;
    padding: 7px 12px;
}

.btn:hover {
    box-shadow: none;
}

.btn-login, .btn-topic, .btn-new-topic,
.btn-reply, .btn-post-reply, .btn-edit-topic, .btn-password,
.btn-email, .btn-username, .btn-register, .btn-save-post, .btn-edit-post,
.btn-category {
    border-radius: 4px;
    box-shadow: none;
    font-weight: 400;
    background-color: #6554c0 !important;
    text-transform: none;
    font-size: 13px !important;
}

.btn-category {
    background-color: #aa66cc !important;
}

.btn-category:hover, .btn-category:focus {
    box-shadow: none;
}

.btn-edit-post {
    background-color: #aa1111 !important;
}

.asteriskField {
    display: none;
}

.CodeMirror,
.CodeMirror-scroll {
    min-height: 150px;
}

.CodeMirror {
    border-color: #bfc2cf;
}

div.CodeMirror {
    overflow-y: auto;
    resize: none;
    display: block;
    height: 172px;
}


.board-icon {
    padding-right: 0;
}

#board-name {
    padding-left: 0;
}

.text-center > .card-header {
    padding-bottom: 0;
}

.ui-table tr td:first-child {
    background-color: rgba(0, 0, 0, .03);
    font-weight: 700;
}

.ui-table td {
    padding: .5em .7em;
}

.author-box {
    border-left: 1px solid #cad7e1;
}


.btn-icon {
    padding: 6px 10px;
    box-shadow: none;
    margin-right: 5px;
    vertical-align: top;
}

.btn-icon:focus, .btn-icon:active {
    box-shadow: none !important;
}

.btn-control .btn:hover {
    box-shadow: none;
}

.form-inline {
    display: inline;
}

.confirm-btn {
    margin-left: 10px;
}

.card-container {
    box-shadow: none;
}

h4.card-title {
    font-family: 'Pacifico', cursive;
    color: #172b4d;
}

.card-container p.card-text {
    color: #172b4d !important;
}

.card-footer {
    border-top: none;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    color: #ff0000 !important;
}

.card.card-posts {
    box-shadow: none;
    border: 1px solid #cad7e1;
    border-radius: 5px;
}

.navbar {
    font-weight: 400;
    border-radius: 3px;
    box-shadow: none;
}

.navbar .dropdown-menu a {
    font-weight: 400;
}

.editor-toolbar {
    opacity: inherit;
}

.editor-toolbar:hover {
    opacity: inherit;
}

.editor-toolbar a:hover, .editor-toolbar a.active {
    border-color: white;
}

.editor-toolbar a:focus {

}

#div_id_message.form-group {
    margin-bottom: 0;
}


.navbar .breadcrumb {
    font-weight: normal;
    font-size: inherit;
}

.controls {
    border-bottom: 1px solid #cad7e1;
    padding-bottom: 10px;
    max-height: 35px;
}

.profile-body {
    padding: 0;
}

.profile-content {
    border-left: 1px solid #cad7e1;
}

.table td {
    font-weight: normal;
}

/*Avatar*/
/*------------------------------------------------------------------------------*/
img.circular {
    border-radius: 50%;
    border: 1px solid #cad7e1;
}

.avatar-wrap {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.avatar-online {
    background-color: #cddc39;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    padding: 5px;
    top: 3%;
    right: 37%;
    float: left;
    z-index: 101;
}


.profile-sidebar .avatar-online {
    right: 70px;
}

.profile-meta {
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

.author-box h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 2rem;
}

a.profile-user {
    text-decoration: none;
    color: #00bfa5;
}

.profile-user-title {
    opacity: 0.38;
}

h4 small,
h5 small {
    font-size: 70%;
    display: block;
}

.profile-stats {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.profile-stat {
    text-align: center;
    flex: 1;
    align-self: auto;
    padding: 0;
}

.profile-stat-wrap {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
    color: #172b4d;
}

.profile-stat-title {
    margin-left: 0.1rem;
}

.profile-stat-value {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

/*User posts*/
/*------------------------------------------------------------------------------*/
.toolbar {
    display: block;
    min-height: 24px;
    margin-bottom: 20px;
}

.toolbar > h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.post-list {
    padding: 0;
}

.post-list li {
    list-style: none;
}

.post-primary .panel-post {
    border-color: #b388ff;
}

.panel-post {
    border: 1px solid #cad7e1;
}

.panel {
    margin-bottom: 20px;
    border-radius: 5px;
}

.panel-body {
    padding: 15px;
}

.post-feed .panel-body {
    padding-bottom: 0;
}

.post-side {
    color: #7a869a;
    font-size: 12px;
}

.post-feed .post-side .btn {
    display: inline-block;
}

.post-side .float-right {
    margin-left: 16px;
}

.post-side .btn-default {
    background: #172b4d !important;
    color: #ffffff;
    font-weight: 400 !important;
    text-transform: none;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: none;
}

.btn-default:not([disabled]):not(.disabled):active {
    background-color: #ebecf0 !important;
    box-shadow: none;
}

.btn-default:not([disabled]):not(.disabled).active {
    background-color: #172b4d !important;
}

.post-side .media {
    margin: 0;
}

.post-heading .btn {
    text-transform: none;
}

.posted-on {
    color: #7a869a;
}

.posted-on:hover {
    color: #172b4d;
    text-decoration: underline;
}

.media {
    overflow: hidden;
    zoom: 1;
}

.media-left,
.media-body {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}


.post-feed .post-side img {
    margin: 0;
    width: 36px;
    height: 36px;
    box-shadow: none;
    padding-bottom: 0;
}

.post-side .poster-avatar {
    border-radius: 4px;
}

.post-feed .post-side .media-heading {
    font-size: 14px;
    margin: 0;
}

a.item-title:link,
a.item-title:visited {
    color: #172b4d;
    font-weight: 700;
}

.post-feed .post-side .user-title {
    font-size: 12px;
    color: #1565c0;
}

.post-feed .post-heading {
    height: auto;
    margin: 10px 0;
}

.post-heading > .btn-link,
.post-heading > .btn-link:link,
.post-heading > .btn-link:visited {
    color: #7a869a;
}

.post-heading > .btn-link:hover {
    text-decoration: none;
    color: #172b4d;
}

.post-feed .post-heading .btn {
    margin-right: 16px;
}

a.btn-link {
    padding: 6px 0;
}

.post-feed .post-body {
    padding-bottom: 20px;
}

.nav-side > .list-group-item,
.nav-side > .list-group-item:link,
.nav-side > .list-group-item:visited {
    background: #e0e0e0;
    color: #172b4d;
    border: 0;
    margin-top: 1px;
}

.nav-side > .list-group-item:hover {
    background: #ebecf0;
}

.nav-side > .list-group-item.active {
    background: #172b4d;
    color: white !important;
    font-weight: 700;
}

/*Pagination*/
/*------------------------------------------------------------------------------*/
.pagination .page-item.active .page-link {
    box-shadow: none;
    background: none;
    color: #172b4d;
}


/*USer Control panel*/
/*------------------------------------------------------------------------------*/
.panel-form {
    border: 1px solid #cad7e1;
    border-radius: 4px;
}

.panel-heading {
    padding: 14px 15px;
    border-bottom: 1px solid #cad7e1;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.panel-heading > h3 {
    font-weight: 400;
    color: #5e6c84;
}

.sign-in > h3, .sign-up > h3 {
    color: #4b2354;
    font-size: 22px;
    font-weight: 700;
}

.reset-title {
    padding-bottom: 10px;
}

.reset-footer {
    border-top: none !important;
}

.panel-footer {
    padding: 14px 15px;
    border-top: 1px solid #cad7e1;
}

.panel-body label[for=id_password],
.panel-body label[for=id_email],
.panel-body label[for=id_old_password],
.panel-body label[for=id_new_password1],
.panel-body label[for=id_new_password2],
.panel-body label[for=id_username] {
    font-weight: 700;
    color: #172b4d;
}

.panel-body .form-group > label {
    font-weight: 700;
}

.panel-body .form-group > label:hover {
    cursor: inherit;
}

select#id_gender {
    -webkit-appearance: none;
    width: 13%;

}

.panel-details .form-group {
    margin: 0;
}

.form-horizontal .control-label {
    text-align: right;
    padding-top: 7px;
}

.form-control-static {
    padding-top: 7px;
    min-height: 34px;
    padding-bottom: 7px;
}

.form-control-static p {
    margin-bottom: 0;
}

/*Forum index*/
/*------------------------------------------------------------------------------*/
.media:first-child {
    margin-top: 0;
}

.forum-main .media-left {
    padding: 5px 0;
}

.media-left, .media-body {
    display: table-cell;
    vertical-align: top;
}

.forum-main .media-left .read-status {
    background-color: #6554c0;
    padding: 5px 8px;
    border-radius: 4px;
}

.forum-main .media-left .forum-icon {
    color: #fff;
    vertical-align: middle;
}

.forum-main .media-body {
    padding-left: 12px;
}

.media-body {
    width: 10000px;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

h4.media-heading {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

.forum-main .media-heading a,
.forum-main .media-heading a:link,
.forum-main .media-heading a:visited {
    color: #344563;
}

.forum-main .forum-description p:last-child {
    margin-bottom: 0;
}

.forum-main .forum-description p {
    font-size: 12px;
}

.forum-stats {
    color: #5e6c84;
}

.forum-last-topic .media .media-left {
    padding-right: 10px;
}

.media .media-left img {
    box-shadow: none;
}

.forum-last-topic .media-heading {
    margin-bottom: 2px;
}

.forum-last-topic .media-heading a {
    vertical-align: top;
    display: inline-block;
}

a.item-title:active,
a.item-title:hover,
a.item-title:link,
a.item-title:visited {
    color: #172b4d;
    font-weight: 700;
    font-size: 14px;
}

a.item-title:hover {
    text-decoration: underline;
}

.forum-last-topic .list-inline {
    color: #7a869a;
    font-size: 12px;
}

.list-inline {
    padding: 0;
    margin-left: -5px;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.forum-last-topic .list-inline .item-title,
.forum-last-topic .list-inline .item-title:link,
.forum-last-topic .list-inline .item-title:visited {
    color: #344563;
    font-size: 12px;
}

.forum-last-topic .list-inline a,
.forum-last-topic .list-inline a:link,
.forum-last-topic .list-inline a:visited {
    color: #7a869a;
}

.list-group .list-group-item {
    border-left-color: #ebecf0;
    border-right-color: #ebecf0;
}

.forums-list .list-group:first-child {
    border-top: #cad7e1;
}

/*TopicsList*/
.topics-list .topic-main .media-left {
    padding-top: 2px;
    padding-bottom: 1px;
}

.topics-list .topic-title,
.topics-list .topic-read .topic-title:link,
.topics-list .topic-read .topic-title:visited {
    color: #5e6c84;
    font-weight: 400;
    font-size: 18px;
}

.topics-list .topic-details-bottom div > span {
    font-size: 12px;
    margin-right: 16px;
}

.topics-list .media-left {
    padding-right: 10px;
}

.topic-last-action .topic-last-poster {
    display: block;
}

.topics-list .topic-last-action .topic-last-reply,
.topics-list .topic-last-action .topic-last-reply:link,
.topics-list .topic-last-action .topic-last-reply:visited {
    color: #5e6c84;
    font-size: 12px;
}

.post-message {
    padding-bottom: 30px;
}

p.post-edit {
    padding-top: 7px;
    padding-bottom: 6px;
    font-size: 12px;
    color: #7a869a;
    margin-bottom: 0;
}

.header-stats .list-inline li {
    margin-right: 8px;
    color: #5e6c84;
}

.user-rank {
    color: #172b4d !important;
    font-weight: 700;
}

.user-email a {
    color: #5e6c84;
    font-weight: 700;
}

.user-email a:hover {
    text-decoration: underline;
    color: #172b4d !important;
}

.topic-category.badge {
    box-shadow: none;
}

.page-header-bg {
    margin-bottom: 30px;
}