body {
    font-size: 13px !important;
    font-weight: normal !important;
}

.form-control {
    font-size: inherit;
}

.form-control:focus {
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

.arrow_box {
    position: relative;
    background: #ffffff;
    border: 1px solid inherit;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 81%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
}

.arrow_box:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: -9px;
}

.dropdown-menu {
    min-width: 111px !important;
    min-height: 60px !important;
    border-radius: 5px !important;
    font-size: inherit !important;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    left: -50px !important;
    padding: 5px;
}

.dropdown-item {
    padding: 5px !important;
    font-size: inherit !important;
}

.dropdown-divider {
    margin: 0;
}

.navbar .breadcrumb-item + .breadcrumb-item::before {
    color: #bdbdbd;
    content: none;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
}

.btn {
    margin: 0;
}

.asteriskField {
    display: none;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 150px;
}


.board-body > .row, .topic-body > .row {
    margin-left: 0;
    margin-right: 0;
}

.board-body, .topic-body {
    padding: 0;
}

.board-name, .topic-title > a {
    font-weight: bold;
}

.board-row, .topic-row {
    padding: 10px 5px;
    border-bottom: 1px solid #cad7e1;
}

.board-icon {
    padding-right: 0;
}

#board-name {
    padding-left: 0;
}

.text-center > .card-header {
    padding-bottom: 0;
}

.ui-table tr td:first-child {
    background-color: rgba(0, 0, 0, .03);
    font-weight: 700;
}

.ui-table td {
    padding: .5em .7em;
}

.author-box {
    border-left: 1px solid #cad7e1;
}

/*.col-3.author-box {
    padding: 0;
}*/

.btn-icon {
    padding: 6px 12px;
}

.form-inline {
    display: inline;
}

.confirm-btn {
    margin-left: 10px;
}

.navbar {
    font-weight: 400;
    border-radius: 5px;
}

.navbar .dropdown-menu a {
    font-weight: 400;
}

.editor-toolbar {
    opacity: inherit;
    background-color: #f8f8f8;
}


.navbar .breadcrumb {
    font-weight: normal;
    font-size: inherit;
}

.controls {
    border-bottom: 1px solid #cad7e1;
    padding-bottom: 10px;
}

.profile-body {
    padding: 0;
}

.profile-content {
    border-left: 1px solid #cad7e1;
}

.table td {
    font-weight: normal;
}

/*Control Panel Styles
--------------------------------------------------------------------------------*/

/*Content Cp box
---------------------------------------*/

.tab-content {
    border-radius: 5px;
    padding: 5px 10px;
    background: #1565c0;
}

.list-tabs {
    margin-left: 7px;
}

.list-tabs .nav-item {
    margin-bottom: 0;
}

.list-tabs > .nav-item a {
    background: rgba(3, 0, 0, 0.7);
    color: #ffffff;
    border-bottom: none;
    margin-right: 2px;
}

.list-tabs .nav-link.active {
    background: #1565c0;
    color: #e0e0e0;
    padding-bottom: 7px;
    margin-top: 2px;
    border-bottom: none;
    font-weight: bold;
}

.navigation {
    padding-top: 36px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    margin: 1px 0;
    padding: 0;
}

.navigation a {
    color: #ffffff;
    display: block;
    padding: 5px;
    margin: 1px 0;
    background: rgba(3, 0, 0, 0.7);
}

.navigation a.activenav {
    background: #ffffff !important;
    font-weight: bold;
    color: #0d0d0d;
}

#myTab {
    border-bottom: none;
}

.inner:after {
    clear: both;
    content: '';
    display: block;
}

.cp-menu {
    float: left;
    width: 19%;
}

.cp-main {
    float: left;
    width: 81%;
}

.panel {
    margin-bottom: 4px;
    border-radius: 7px;
}

.cp-main .panel {
    padding: 5px 10px;
}

.panel-container .panel {
    background-color: #ffffff;
}

.card-posts .card-footer {
    padding: 8px 16px;
}

/*Search Bar*/
/*------------------------------------------------------------------------------*/
.search-header .inputbox {
    border-radius: 4px 0 0 4px;
    padding: 3px;
    border: 0 #C7C3BF;
    float: left;
}

.search-box input {
    margin: 0;
}

.search-header .button-search, .search-header .button-search-end {
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 3px 5px;
    height: 33px;
}

.button-search {
    float: left;
    border-radius: 0;
    border-right: 1px solid white !important;
    border-left: 1px solid tan !important;
    padding: 7px 7px !important;
}

.search-box button, .search-box .button-search-end {
    background-color: #e9e9e9;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(3, 0, 0, 0.7) 100%);
    font-size: 13px;
    display: inline-block;
    border: #C7C3BF;
}

.search-header .button-search-end {
    border-right-width: 0;
}

.button-search-end {
    border-left-width: 0;
    border-radius: 0 4px 4px 0;
    float: left;
    margin: 0;
    padding: 7px 8px !important;
    border-bottom-width: 0 !important;
    border-top-width: 0 !important;
}

.search-box button:focus {
    outline: none;
}

.button .icon {
    color: white;
}


/*Avatar*/
/*------------------------------------------------------------------------------*/
img.circular {
    border-radius: 50%;
    border: 1px solid #cad7e1;
}

.avatar-wrap {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.avatar-online {
    background-color: #cddc39;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    padding: 5px;
    top: 3%;
    right: 35%;
    float: left;
    z-index: 101;
}


.profile-sidebar .avatar-online {
    right: 70px;
}

.profile-meta {
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

.author-box h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 2rem;
}

a.profile-user {
    text-decoration: none;
    color: #00bfa5;
}

.profile-user-title {
    opacity: 0.38;
}

h4 small, h5 small {
    font-size: 70%;
    display: block;
}

.profile-stats {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.profile-stat {
    text-align: center;
    flex: 1;
    align-self: auto;
    padding: 0;
}

.profile-stat-wrap {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
}

.profile-stat-title {
    margin-left: 0.1rem;
}

.profile-stat-value {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

/*User posts*/
/*------------------------------------------------------------------------------*/
.toolbar {
    display: block;
    min-height: 24px;
    margin-bottom: 20px;
}

.toolbar > h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.post-list {
    padding: 0;
}

.post-list li {
    list-style: none;
}

.post-primary .panel-post {
    border-color: #1565c0;
}

.panel-post {
    border: 1px solid #cad7e1;
}

.panel {
    margin-bottom: 20px;
}

.panel-body {
    padding: 15px;
}

.post-feed .panel-body {
    padding-bottom: 0;
}

.post-side {
    color: #7a869a;
    font-size: 12px;
}

.post-feed .post-side .btn {
    display: inline-block;
}

.post-side .float-right {
    margin-left: 16px;
}

.post-side .btn-default {
    background: #ebecf0 !important;
    color: #172b4d;
    box-shadow: none;
    font-weight: 500 !important;
}

.btn-default:not([disabled]):not(.disabled):active {
    background-color: #ebecf0 !important;
    box-shadow: none;
}

.post-side .media {
    margin: 0;
}

.media {
    overflow: hidden;
    zoom: 1;
}

.media-left, .media-body {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px !important;
}

.media .media-left {
    padding: 0;
}

.post-feed .post-side img {
    margin: 0;
    width: 36px;
    height: 36px;
    box-shadow: none;
    padding-bottom: 0;
}

.post-side .poster-avatar {
    border-radius: 4px;
}

.post-feed .post-side .media-heading {
    font-size: 14px;
    margin: 0;
}

a.item-title:link, a.item-title:visited {
    color: #172b4d;
    font-weight: 700;
}

.post-feed .post-side .user-title {
    font-size: 12px;
    color: #1565c0;
}

.post-feed .post-heading {
    height: auto;
    margin: 10px 0;
}

.post-heading > .btn-link, .post-heading > .btn-link:link, .post-heading > .btn-link:visited {
    color: #7a869a;
}

.post-heading > .btn-link:hover {
    text-decoration: none;
}

.post-feed .post-heading .btn {
    margin-right: 16px;
}

a.btn-link {
    padding: 6px 0;
}

.post-feed .post-body {
    padding-bottom: 20px;
}