body {
    font-size: 13px !important;
    font-weight: normal !important;
}

.form-control {
    font-size: inherit;
}

.form-control:focus {
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}

.arrow_box {
    position: relative;
    background: #ffffff;
    border: 1px solid inherit;
}

.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    left: 81%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
}

.arrow_box:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: -9px;
}

.dropdown-menu {
    min-width: 111px !important;
    min-height: 60px !important;
    border-radius: 5px !important;
    font-size: inherit !important;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    left: -50px !important;
    padding: 5px;
}

.dropdown-item {
    padding: 5px !important;
    font-size: inherit !important;
}

.dropdown-divider {
    margin: 0;
}

.navbar .breadcrumb-item + .breadcrumb-item::before {
    color: #bdbdbd;
    content: none;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
}

.btn {
    margin: 0;
}

.asteriskField {
    display: none;
}

.CodeMirror,
.CodeMirror-scroll {
    min-height: 150px;
}


.board-body > .row,
.topic-body > .row {
    margin-left: 0;
    margin-right: 0;
}

.board-body,
.topic-body {
    padding: 0;
}

.board-name,
.topic-title > a {
    font-weight: bold;
}

.board-row, .topic-row {
    padding: 10px 5px;
    border-bottom: 1px solid #cad7e1;
}

.board-icon {
    padding-right: 0;
}

#board-name {
    padding-left: 0;
}

.text-center > .card-header {
    padding-bottom: 0;
}

.ui-table tr td:first-child {
    background-color: rgba(0, 0, 0, .03);
    font-weight: 700;
}

.ui-table td {
    padding: .5em .7em;
}

.author-box {
    border-left: 1px solid #cad7e1;
}


.btn-icon {
    padding: 6px 12px;
}

.form-inline {
    display: inline;
}

.confirm-btn {
    margin-left: 10px;
}

.card.card-posts {
    box-shadow: none;
    border: 1px solid #cad7e1;
    border-radius: 5px;
}

.navbar {
    font-weight: 400;
    border-radius: 5px;
}

.navbar .dropdown-menu a {
    font-weight: 400;
}

.editor-toolbar {
    opacity: inherit;
    background-color: #f8f8f8;
}


.navbar .breadcrumb {
    font-weight: normal;
    font-size: inherit;
}

.controls {
    border-bottom: 1px solid #cad7e1;
    padding-bottom: 10px;
}

.profile-body {
    padding: 0;
}

.profile-content {
    border-left: 1px solid #cad7e1;
}

.table td {
    font-weight: normal;
}

/*Control Panel Styles
--------------------------------------------------------------------------------*/

/*Content Cp box
---------------------------------------*/

.tab-content.user-control-panel {
    border-radius: 5px;
    padding: 5px 10px;
    background: #1565c0;
}

.list-tabs {
    margin-left: 7px;
}

.list-tabs .nav-item {
    margin-bottom: 0;
}

.list-tabs > .nav-item a {
    background: rgba(3, 0, 0, 0.7);
    color: #ffffff;
    border-bottom: none;
    margin-right: 2px;
}

.list-tabs .nav-link.active {
    background: #1565c0;
    color: #e0e0e0;
    padding-bottom: 7px;
    margin-top: 2px;
    border-bottom: none;
    font-weight: bold;
}

.navigation {
    padding-top: 36px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    margin: 1px 0;
    padding: 0;
}

.navigation a {
    color: #ffffff;
    display: block;
    padding: 5px;
    margin: 1px 0;
    background: rgba(3, 0, 0, 0.7);
}

.navigation a.activenav {
    background: #ffffff !important;
    font-weight: bold;
    color: #0d0d0d;
}

#myTab {
    border-bottom: none;
}

.inner:after {
    clear: both;
    content: '';
    display: block;
}

.cp-menu {
    float: left;
    width: 19%;
}

.cp-main {
    float: left;
    width: 81%;
}

.panel {
    margin-bottom: 4px;
    border-radius: 7px;
}

.cp-main .panel {
    padding: 5px 10px;
}

.panel-container .panel {
    background-color: #ffffff;
}

.card-posts .card-footer {
    padding: 8px 16px;
}

/*Avatar*/
/*------------------------------------------------------------------------------*/
img.circular {
    border-radius: 50%;
    border: 1px solid #cad7e1;
}

.avatar-wrap {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.avatar-online {
    background-color: #cddc39;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    padding: 5px;
    top: 3%;
    right: 35%;
    float: left;
    z-index: 101;
}


.profile-sidebar .avatar-online {
    right: 70px;
}

.profile-meta {
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

.author-box h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 2rem;
}

a.profile-user {
    text-decoration: none;
    color: #00bfa5;
}

.profile-user-title {
    opacity: 0.38;
}

h4 small,
h5 small {
    font-size: 70%;
    display: block;
}

.profile-stats {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.profile-stat {
    text-align: center;
    flex: 1;
    align-self: auto;
    padding: 0;
}

.profile-stat-wrap {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
    color: #172b4d;
}

.profile-stat-title {
    margin-left: 0.1rem;
}

.profile-stat-value {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

/*User posts*/
/*------------------------------------------------------------------------------*/
.toolbar {
    display: block;
    min-height: 24px;
    margin-bottom: 20px;
}

.toolbar > h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.post-list {
    padding: 0;
}

.post-list li {
    list-style: none;
}

.post-primary .panel-post {
    border-color: #1565c0;
}

.panel-post {
    border: 1px solid #cad7e1;
}

.panel {
    margin-bottom: 20px;
}

.panel-body {
    padding: 15px;
}

.post-feed .panel-body {
    padding-bottom: 0;
}

.post-side {
    color: #7a869a;
    font-size: 12px;
}

.post-feed .post-side .btn {
    display: inline-block;
}

.post-side .float-right {
    margin-left: 16px;
}

.post-side .btn-default {
    background: #172b4d !important;
    color: #ffffff;
    font-weight: 500 !important;
}

.btn-default:not([disabled]):not(.disabled):active {
    background-color: #ebecf0 !important;
    box-shadow: none;
}

.post-side .media {
    margin: 0;
}

.media {
    overflow: hidden;
    zoom: 1;
}

.media-left,
.media-body {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px !important;
}

.media .media-left {
    padding: 0;
}

.post-feed .post-side img {
    margin: 0;
    width: 36px;
    height: 36px;
    box-shadow: none;
    padding-bottom: 0;
}

.post-side .poster-avatar {
    border-radius: 4px;
}

.post-feed .post-side .media-heading {
    font-size: 14px;
    margin: 0;
}

a.item-title:link,
a.item-title:visited {
    color: #172b4d;
    font-weight: 700;
}

.post-feed .post-side .user-title {
    font-size: 12px;
    color: #1565c0;
}

.post-feed .post-heading {
    height: auto;
    margin: 10px 0;
}

.post-heading > .btn-link,
.post-heading > .btn-link:link,
.post-heading > .btn-link:visited {
    color: #7a869a;
}

.post-heading > .btn-link:hover {
    text-decoration: none;
    color: #172b4d;
}

.post-feed .post-heading .btn {
    margin-right: 16px;
}

a.btn-link {
    padding: 6px 0;
}

.post-feed .post-body {
    padding-bottom: 20px;
}

.nav-side > .list-group-item,
.nav-side > .list-group-item:link,
.nav-side > .list-group-item:visited {
    background: #e0e0e0;
    color: #172b4d;
    border: 0;
    margin-top: 1px;
}

.nav-side > .list-group-item:hover {
    background: #ebecf0;
}

.nav-side > .list-group-item.active {
    background: #172b4d;
    color: white !important;
    font-weight: 700;
}

/*Pagination*/
/*------------------------------------------------------------------------------*/
.pagination .page-item.active .page-link {
    box-shadow: none;
    background: none;
    color: #172b4d;
}

/*Board statistics*/
/*------------------------------------------------------------------------------*/
.c-tab-card {
    background-color: #f8f9fa;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
}

.c-tab.active {
    color: #008dff;
    transition: 0.5s;
}

.c-tab-nav {
    padding-top: 10px;
}


.c-tab {
    margin: 0 1px;
    padding: 0 12px;
    text-transform: uppercase;
    font-size: 1rem;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    position: relative;
    min-width: 160px;
}

.c-tab-icon {
    display: block;
}

.c-stat-list {
    padding: 1rem;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.c-stat-item {
    list-style: none;
    display: inline;
    text-align: center;
    padding: 0 8px;
}

.o-tag {
    font-size: 0.75rem;
    background-color: #172b4d;
    color: white;
    border-radius: 2px;
    padding: .25rem .5rem;
    margin: 0 0 0 .25rem;
}

.c-tab:hover:after,
.c-tab.active:after {
    left: 0;
    width: 102%;
}

.c-tab::after {
    background-color: #172b4d;
    position: absolute;
    height: 4px;
    content: '';
    transition: background-color 0s ease-in 0.5s, width 0.15s ease-in 0.25s;
    bottom: -5px;
    width: 0;
    left: 0;
}

/*TopicList Component*/
/*------------------------------------------------------------------------------*/
.c-topic-container {
    border: 1px solid #cad7e1;
    border-radius: 5px;
}

.c-topic-header {
    background-color: #f8f9fa;
    display: flex;
    flex-flow: row nowrap;
}

.c-topic-header-left {
    list-style: none;
    padding: 0;
    margin: 0;
}

.c-topic-header-left .c-topic-header-item {
    float: left;
}

.c-topic-header-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 5px;
    height: 34px;
    display: inline-flex;
    float: left;

}

.c-topic {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 300;
}

.c-topic-item {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.c-topic-meta-primary .c-topic-link {
    font-size: small;
}

.o-list-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-left: 0;
}

.o-list-media-icon {
    height: 27px;
    width: 27px;
    font-size: 27px;
    color: #1565c0;
}

.o-list-primary {
    line-height: 1.5;
    display: block;
}

.o-list-primary h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.o-list-secondary {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25rem;
    display: block;
}

.o-list-secondary-item {
    padding-right: 1rem;
}

.o-list-secondary-item-icon {
    margin-right: 0.5rem;
}

.c-topic-meta {
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.o-list-meta {
    margin-left: auto;
    margin-right: 0;
}

.o-list-meta-secondary {
    font-size: 0.875rem;
    font-weight: 400;
    display: block;
}

.o-list-meta-media {
    display: inline-flex;
    justify-content: center;
    margin-right: 0;
    margin-left: 0.5rem;
}

.o-list-avatar {
    width: 40px;
    height: 40px;
}

.o-avatar-wrap {
    position: relative;
}

.o-avatar {
    border: 1px solid #172b4d;
    border-radius: 50%;
    vertical-align: middle;
}

.o-avatar-online {
    background-color: #cfdd3c;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    z-index: 101;
    top: 10%;
    right: 0;
    float: left;
    padding: 8%;
}

.c-board-description {
    margin-bottom: 0.5rem;
    display: block;
    font-size: 15px;
}