{% extends '_base.html' %}

{% load static %}

{% load crispy_forms_filters %}

{% block title %}Edit post{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/simplemde.min.js' %}"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'boards:home' %}">Boards</a><i
            class="fas fa-angle-double-right mx-2 my-1 text-dark" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'boards:board_topics' post.topic.board.slug %}">{{ post.topic.board.name }}</a><i
            class="fas fa-angle-double-right mx-2 my-1 text-dark" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'boards:topic_post' post.topic.board.slug %}">{{ post.topic.title }}</a><i
            class="fas fa-angle-double-right mx-2 my-1 text-dark" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-dark">Edit post</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="post" class="">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn blue darken-3 btn-sm text-white">Save changes</button>
                <a href="{% url 'boards:topic_post' post.topic.board.slug %}" class="btn btn-danger btn-sm"
                   role="button">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}