{% extends '_base.html' %}

{% load crispy_forms_filters %}

{% load static %}

{% block title %}Post a reply{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}



{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'boards:home' %}">Boards</a><i
            class="fas fa-angle-double-right mx-2 my-1 text-dark" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'boards:board_topics' topic.board.slug %}">
            {{ topic.board.name }}</a><i
            class="fas fa-angle-double-right mx-2 my-1 text-dark" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'boards:topic_post'  topic.slug %}">{{ topic.title }}</a><i
            class="fas fa-angle-double-right mx-2 my-1 text-dark" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-dark">Post a reply</li>
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" class="">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn blue darken-3 btn-sm text-white">Post a reply</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/simplemde.min.js' %}"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>
{% endblock %}