{% extends '_base.html' %}

{% load crispy_forms_filters %}

{% load static %}

{% block title %}Post a reply{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/simplemde.min.js' %}"></script>
   <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script>
        var simplemde = new SimpleMDE({
            forceSync: true,
            placeholder: "Post here...",
            showIcons: ['code', 'table'],
            shortcuts: {
                drawTable: "Cmd-Alt-T"
            },
            spellChecker: false,
            tabSize: 4,
            autofocus: true,
            renderingConfig: {
                codeSyntaxHighlighting: true,
            }
        });
    </script>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a class="white-text" href="{% url 'boards:home' %}">
            <i class="fas fa-home fa-fw"></i> Boards</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item">
        <a class="white-text" href="{% url 'boards:board_topics' topic.board.slug %}">
            {{ topic.board.name }}
        </a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item">
        <a class="white-text" href="{% url 'boards:topic_post'  topic.slug topic.pk %}">{{ topic.title }}</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-white-50">Post a reply</li>
{% endblock %}

{% block content %}
    <form method="post" class="">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-post-reply btn-sm text-white">Post a reply
            <i class="fab fa-telegram-plane fa-fw"></i></button>
    </form>
{% endblock %}

