{% extends '_base.html' %}
{% load users_extras %}
{% load static %}

{% load humanize %}

{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a class="white-text" href="{% url 'boards:home' %}">
            <i class="fas fa-home fa-fw"></i> Boards</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-white-50">{{ board.name }}</li>
{% endblock %}

{% block content %}
    {% block new-topic %}
        <div class="row">
            <div class="col-md-6">
                <div class="float-left">
                    <a href="{% url 'boards:new_topic' board.slug %}"
                       class="mb-4 btn btn-topic btn-dark-green btn-sm text-white"> New
                        Topic <i class="fa-fw fas fa-plus"></i>
                    </a>

                </div>
            </div>
            <div class="col-md-6">
                <div class="float-right">
                    {% include 'includes/pagination.html' %}
                </div>
            </div>
        </div>
    {% endblock %}


    <div class="topics-list ui-ready mb-4">
        {% for topic in topics %}
            <ul class="list-group mb-1">
                <li class="list-group-item topic-read">
                    <div class="row topic-row">
                        <div class="topic-main col-md-7">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{% url 'users:user_posts' topic.created_by topic.created_by.pk %}"
                                       class="topic-starter-avatar">
                                        <img width="40" height="40" src="{{ topic.created_by|gravatar }}" alt=""
                                             class="user-avatar circular"></a>
                                </div>
                                <div class="media-body">
                                    <a href="{% url 'boards:topic_post' topic.slug topic.pk %}"
                                       class="item-title topic-title">{{ topic.title }}</a>
                                    <div class="row topic-details-bottom">
                                        <div class="col-md-12">
                                            {% block topic-category %}
                                            {% endblock %}

                                            <span class="topic-details-views">
                                                {% if topic.views < 1 %}
                                                    <i class="fas fa-eye"></i> no views
                                                {% else %}
                                                    <i class="fas fa-eye"></i>
                                                    {{ topic.views }} view{{ topic.views|pluralize }}
                                                {% endif %}

                                            </span>
                                            <span class="topic-detail-replies">
                                                {% if topic.replies < 1 %}
                                                    <i class="fab fa-stack-exchange"></i> no reply
                                                {% else %}
                                                    <i class="fab fa-stack-exchange"></i>
                                                    {{ topic.replies }} repl{{ topic.replies|pluralize:"y,ies" }}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offset-2 col-md-3 topic-last-action">
                            <div class="media">
                                <div class="media-left">
                                    {% with post=topic.last_post %}
                                        <a href="{% url 'users:user_posts' post.created_by post.created_by.pk %}"
                                           class="topic-last-poster-avatar">
                                            <img width="40" height="40" src="{{ post.created_by|gravatar }}"
                                                 alt="" class="media-object circular">
                                        </a>
                                        </div>
                                        <div class="media-body">
                                        <a href="{% url 'users:user_posts' post.created_by post.created_by.pk %}"
                                           class="item-title topic-last-poster">{{ post.created_by.username }}</a>
                                        <a href="{% url 'boards:topic_post' post.topic.slug post.topic.pk %}#p-{{ post.id }}"
                                           class="topic-last-reply">{{ topic.last_updated|naturaltime }}</a>
                                    {% endwith %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        {% endfor %}
    </div>

{% endblock %}
{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}