{% extends '_base.html' %}
{% load humanize %}

{% load static %}

{% block title %}{{ topic.title }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a class="white-text" href="{% url 'boards:home' %}">
            <i class="fas fa-home fa-fw"></i> Boards</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item">
        <a class="white-text" href="{% url 'boards:board_topics' topic.board.slug %}">{{ topic.board.name }}</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-white-50">{{ topic.title }}</li>
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong><i class="fas fa-info-circle fa-fw"></i> {{ message }}</strong>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6">
            <div class="float-left">
                <div class="mb-4">
                    <a href="{% url 'boards:reply_topic' topic.slug %}"
                       class="btn btn-reply  btn-sm text-white"
                       role="button">Reply <i class="fa-fw fas fa-reply"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>

    {% for post in posts %}
        <div class="card card-posts mb-3">
            {% if forloop.first %}
                <div class="card-header text-dark bg-white py-2 px-3">
                    <div class="row">
                        <div class="col-9">
                            <div class="float-left">
                                {{ topic.title }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card-body p-3" id="p-{{ post.id }}">
                <div class="row">
                    <div class="col-9 post-box">
                        <div class="row mb-4 controls">
                            <div class="col-6">
                                <div class="float-left">
                                    <strong class="text-muted">
                                        by
                                        <a href="{% url 'users:user_posts' post.created_by post.created_by.pk %}">
                                            {{ post.created_by.username }}</a>
                                        {{ post.created_at|naturaltime }}
                                    </strong>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="float-right btn-control">

                                    {% if post.created_by == user %}
                                        {% if forloop.first %}
                                            <a class=" btn-icon btn btn-dark-green"
                                               href="{% url 'boards:edit_topic' post.topic.slug %}"
                                               data-post-id="{{ post.id }}" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Edit this topic">
                                                <i style="color: green" class="icon-color fas fa-pen-fancy"></i>
                                            </a>
                                            <a class="btn-icon btn btn-secondary"
                                               href="{% url 'boards:reply_topic' post.topic.slug %}"
                                               data-post-id="{{ post.id }}" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Reply">
                                                <i style="color: #1565c0" class="icon-color fas fa-reply-all"></i>
                                            </a>
                                            <a class="btn-icon btn btn-indigo"
                                               href=""
                                               data-post-id="{{ post.id }}" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Quote this post">
                                                <i style="color: lightblue" class="icon-color fas fa-quote-right"></i>
                                            </a>
                                            <a class="btn-icon btn btn-deep-orange"
                                               href=""
                                               data-post-id="{{ post.id }}" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Report this post">
                                                <i style="color: orange"
                                                   class="icon-color fas fa-exclamation-triangle"></i>
                                            </a>
                                        {% else %}

                                            <a class=" btn-icon btn btn-dark-green"
                                               href="{% url 'boards:edit_post' post.slug %}"
                                               data-post-id="{{ post.id }}" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Edit this post">
                                                <i style="color: green" class="icon-color fas fa-pen-fancy"></i>
                                            </a>
                                            <span data-toggle="modal" data-target="#exampleModal">
                                                <a type="button" class="btn-icon btn btn-danger"
                                                   href="{% url 'boards:delete_post' post.slug %}"
                                                   data-post-id="{{ post.id }}"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Delete this post">
                                                    <i style="color: orangered" class="icon-color fas fa-trash-alt"></i>
                                                </a>
                                            </span>
                                            {% comment %}{% include 'includes/confirm_modal.html' %}{% endcomment %}
                                            <a class="btn-icon btn btn-secondary"
                                               href="{% url 'boards:reply_topic' post.topic.slug %}"
                                               data-post-id="{{ post.id }}" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Reply">
                                                <i style="color: #1565c0" class="icon-color fas fa-reply-all"></i>
                                            </a>

                                            <a class="btn-icon btn btn-indigo"
                                               href=""
                                               data-post-id="{{ post.id }}" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Quote this post">
                                                <i style="color: lightblue" class="icon-color fas fa-quote-right"></i>
                                            </a>

                                            <a class="btn-icon btn btn-deep-orange"
                                               href=""
                                               data-post-id="{{ post.id }}" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Report this post">
                                                <i style="color: orange"
                                                   class="icon-color fas fa-exclamation-triangle"></i>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a class="btn-icon btn btn-indigo"
                                           href=""
                                           data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top"
                                           title="Reply with quote">
                                            <i style="color: lightblue" class="icon-color fas fa-quote-right"></i>
                                        </a>
                                        <a class="btn-icon btn btn-deep-orange"
                                           href=""
                                           data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top"
                                           title="Report this post">
                                            <i style="color: orange" class="icon-color fas fa-exclamation-triangle"></i>
                                        </a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        {{ post.get_message_as_markdown }}
                    </div>
                    <div class="col-3 author-box">
                        <div class="avatar-wrap d-flex justify-content-center">
                            <a href="{% url 'users:user_posts' post.created_by.username post.created_by.pk %}">
                                <img width="82" height="82" src="{% static 'img/avatar.svg' %}"
                                     alt="{{ post.created_by }}"
                                     class="circular"> </a>
                            <span class="avatar-online"></span>
                        </div>
                        <h4 class="profile-meta">
                            <small class="profile-user-title">Team member</small>
                        </h4>
                        <ul class="profile-stats">
                            <li class="profile-stat">
                                <h5 class="profile-stat-wrap">
                                    <i class="fas fa-comment"></i>
                                    <span class="profile-stat-title">Posts</span>
                                    <small class="profile-stat-value">{{ post.created_by.posts.count }}</small>
                                </h5>
                            </li>
                            <li class="profile-stat">
                                <h5 class="profile-stat-wrap">
                                    <i class="fas fa-clock"></i>
                                    <span class="profile-stat-title">Joined</span>
                                    <small class="profile-stat-value">
                                        {{ post.created_by.date_joined|date:'M Y' }}</small>
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6">
            <div class="float-left">
                <div class="my-4">
                    <a href="{% url 'boards:reply_topic' topic.slug %}"
                       class="btn btn-reply btn-sm text-white"
                       role="button">Reply <i class="fa-fw fas fa-reply"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                <div class="my-4">
                    {% include 'includes/pagination.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        {% comment %}window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);{% endcomment %}
    </script>

{% endblock %}