{% extends '_base.html' %}

{% load humanize %}

{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a class="white-text" href="{% url 'boards:home' %}">
            <i class="fas fa-home fa-fw"></i> Boards</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-white-50">{{ board.name }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="float-left">
                <a href="{% url 'boards:new_topic' board.slug %}"
                   class="mb-4 btn btn-topic blue darken-3 btn-md text-white"> New
                    Topic <i class="fa-fw fas fa-pen-fancy"></i>
                </a>

            </div>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>


    <div class="card topic-card">
        <div class="card-header board-header blue darken-3 text-white">
            <div class=" row board-meta text-white">
                <div class="col-md-5 board-name">Topics</div>
                <div class="col-md-2 board-stats">Replies</div>
                <div class="col-md-2 board-stats">Views</div>
                <div class="col-md-3 board-last-post">Last Post</div>
            </div>
        </div>
        <div class="card-body topic-body">
            {% for topic in topics %}
                <div class="row topic-row">
                    <div class="col-md-5">
                        <div class="topic-title">
                            <a href="{% url 'boards:topic_post' topic.slug %}">{{ topic.title }}</a>
                            by {{ topic.created_by }}
                        </div>

                    </div>
                    <div class="col-md-2 topic-posts">
                        {{ topic.replies }}
                    </div>
                    <div class="col-md-2 topic-views">
                        {{ topic.views }}
                    </div>
                    <div class="col-md-3">
                        {% with post=topic.last_post %}
                            <a href="{% url 'boards:topic_post' post.topic.slug %}#p-{{ post.id }}"
                               data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="top"
                               title="Go to last post">
                                {{ topic.last_updated|naturaltime }}
                            </a>
                            by {{ post.created_by }}
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}