{% extends '_base.html' %}
{% load static %}

{% load humanize %}

{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a class="white-text" href="{% url 'boards:home' %}">
            <i class="fas fa-home fa-fw"></i> Boards</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-white-50">{{ board.name }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="float-left">
                <a href="{% url 'boards:new_topic' board.slug %}"
                   class="mb-4 btn btn-topic blue darken-3 btn-md text-white"> New
                    Topic <i class="fa-fw fas fa-pen-fancy"></i>
                </a>

            </div>
        </div>
        <div class="col-md-6">
            <div class="float-right">
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>

    <div class="c-topic-container mb-4">
        <div class="c-topic-header">
            <ul class="c-topic-header-left">
                <li class="c-topic-header-item">
                    <h2 class="c-topic-header-title">Topics</h2>
                </li>
            </ul>
            <ul class="c-topic-header-right"></ul>
        </div>
        <ul class="c-topic">
            {% for topic in topics %}
                <li class="c-topic-item">
                <span class="o-list-media">
                    <i class="far fa-file o-list-media-icon"></i>
                </span>
                    <span class="o-list-primary">
                    <h4 class="c-topic-title">
                        <a class="c-topic-title-text"
                           href="{% url 'boards:topic_post' topic.slug topic.pk %}">{{ topic.title }}</a>
                    </h4>
                    <span class="o-list-secondary">
                        <span class="o-list-secondary-item c-topic-user">
                            <i class="far fa-user-circle o-list-secondary-item-icon"></i>
                            <a style="color: #009900" class="o-list-secondary-item-link"
                               href="">{{ topic.created_by.username }}</a>
                        </span>
                        <span class="o-list-secondary-item c-topic-time">
                            <i class="far fa-clock o-list-secondary-item-icon"></i>
                            <time>{{ topic.date_created|naturaltime }}</time>
                        </span>
                        <span class="o-list-secondary-item c-topic-views">
                            <i class="far fa-eye o-list-secondary-item-icon"></i>
                            {{ topic.views }}
                        </span>
                        <span class="o-list-secondary-item c-topic-replies">
                            <i class="fab fa-stack-exchange o-list-secondary-item-icon"></i>
                            {{ topic.replies }}
                        </span>
                        <span class="c-topic-last-post">
                            {% with post=topic.last_post %}
                                <a href="{% url 'boards:topic_post' post.topic.slug post.topic.pk %}#p-{{ post.id }}"
                                   data-toggle="tooltip" data-post-id="{{ post.id }}" data-placement="top"
                                   title="Go to last post">
                                <i class="fas fa-hand-point-right"></i>
                            </a>
                            {% endwith %}
                        </span>
                    </span>
                </span>
                    <span class="o-list-meta c-topic-meta">
                    <span class="c-topic-meta-primary">
                        <a href="{% url 'users:user_posts' topic.created_by.username topic.created_by.pk %}"
                           style="color: #009900" class="c-topic-link">{{ topic.created_by.username }}</a>
                        <span class="o-list-meta-secondary">
                            <a href="" class="o-list-meta-link">
                                <time>{{ topic.created_by.date_joined|naturalday }}</time>
                            </a>
                        </span>
                    </span>
                    <a href="" class="o-list-meta-media">
                        <span class="o-avatar-wrap o-list-avatar">
                            <img class="o-avatar" src="{% static 'img/avatar.svg' %}" alt="">
                            <span class="o-avatar-online"></span>
                        </span>
                    </a>
                </span>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}