{% extends '_base.html' %}

{% load crispy_forms_filters %}

{% block title %}Signup{% endblock title %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="form d-flex justify-content-center">
        <form class="col-md-7" method="post">
            <div class="panel panel-default panel-form">
                <div class="panel-heading sign-up text-center">
                    <h3 class="panel-title">Signup</h3>
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-register btn-block indigo text-white" type="submit">
                        <i class="fas fa-long-arrow-alt-right"></i> Create Account
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}
