{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Pychatbb{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'fonts/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container my-4">
    <div class="card justify-content-start blue darken-3 text-white">
        <div class="card-body">
            <h3 class="card-title">Pychatbb</h3>
            <p class="card-text text-white">Community Discussion Board.</p>

        </div>
        <nav class=" card-footer navbar navbar-expand-sm navbar-light bg-light py-1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'boards:home' %}"><i class="fas fa-clipboard fa-fw"></i> Boards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-bars fa-fw"></i> Quick links</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </nav>
    </div>
</div>


<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light my-4 py-0">
        <div class="mr-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb clearfix d-none d-md-inline-flex py-2">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
        </div>

        <ul class="navbar-nav ml-auto mx-2">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">{{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-primary arrow_box" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"><i class="fas fa-user fa-fw"></i> Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account_logout' %}"><i
                                class="fas fa-power-off fa-fw"></i> Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}"><i class="fas fa-pen-square fa-fw"></i>
                        Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}"><i class="fas fa-power-off fa-fw"></i>
                        Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/mdb.min.js' %}"></script>
<script>

</script>
</body>
</html>