{% extends '_base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item active text-white-50">
        <span><i class="fas fa-home fa-fw"></i> Boards</span>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-6">
            <div class="float-right">
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>
    <div class="card board-card">
        <div class="card-header board-header blue darken-3 text-white">
            <div class=" row board-meta text-white">
                <div class="col-md-5 board-name">Boards</div>
                <div class="col-md-2 board-stats">Topics</div>
                <div class="col-md-2 board-stats">Posts</div>
                <div class="col-md-3 board-last-post">Last Post</div>
            </div>
        </div>
        <div class="card-body board-body">
            {% for board in boards %}
                <div class="row board-row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-1 board-icon">
                                <i class="fas fa-clipboard-list"></i>
                            </div>
                            <div class="col-md-11" id="board-name">
                                <div class="board-name">
                                    <a href="{% url 'boards:board_topics' board.slug %}">{{ board.name }}</a>
                                </div>

                                {#board description#}
                                <div class="board-description">
                                    {{ board.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 board-topics">
                        {{ board.topics.count }}
                    </div>
                    <div class="col-md-2 board-posts">
                        {{ board.get_post_count }}
                    </div>
                    <div class="col-md-3 board-last-post">
                        {% with post=board.get_last_post %}
                            {% if post %}
                                By
                                <a href="{% url 'users:user_profile' post.created_by.username %}">
                                    {{ post.created_by.username }}
                                </a>
                                <a href="{% url 'boards:topic_post' post.topic.slug post.topic.pk %}#p-{{ post.id }}"
                                   data-post-id="{{ post.id }}" data-toggle="tooltip" data-placement="right"
                                   title="Go to last post">
                                    <i style="color: grey" class="fa-fw fas fa-external-link-alt"></i>
                                </a>
                                <div>
                                    <small>
                                        {{ post.created_at|date:'D M d, Y P' }}
                                    </small>
                                </div>
                            {% else %}
                                <small>
                                    <em>No posts.</em>
                                </small>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}