{% extends 'user/profile_layout.html' %}

{% load crispy_forms_filters %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active text-white-50">Change e-mail address</li>
{% endblock %}

{% block profile %}

    <div>
        <form method="post">
            <div class="panel panel-default panel-form">
                <div class="panel-heading">
                    <h3 class="panel-title">Change e-mail address</h3>
                </div>
                <div class="panel-body">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-email btn-sm indigo text-white" type="submit">
                        Change e-mail address
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

