{% load static frilium_tags %}

{% load humanize %}
<ul class="post-list post-feed">
    {% for topic in topics %}
        <li id="#p-{{ topic.first_post_id }}" class="post post-primary">
            <div class="panel panel-default panel-post">
                <div class="panel-body">
                    <div class="post-side post-side-registered">
                        <a class="btn btn-post btn-default btn-sm float-right"
                           href="{{ topic.url }}#p-{{ topic.first_post_id }}">See
                            Post <i class="fa-fw fas fa-hand-point-right"></i></a>
                        <div class="media">
                            <div class="media-left">
                                <img class="poster-avatar" src="{{ topic.created_by|gravatar }}" alt="">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <a class="item-title" href="">{{ topic.created_by.username }}</a>
                                </div>
                                <a class="user-title user-title-primary" href="">Project Lead</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-heading">
                        <a class="btn btn-link item-title" href="{{ topic.url }}">{{ topic.title }}</a>
                        <a href="{% url 'frilium:boards:topic-category' topic.board.category.slug topic.board.category.pk %}"
                           class="btn btn-link">{{ topic.board.category.name }}</a>
                        <a class="btn btn-link posted-on"
                           href="{{ topic.url }}#p-{{ topic.first_post_id }}">{{ topic.date_created|naturaltime }}</a>
                    </div>
                    <div class="post-body">
                        <article class="post-content">{{ topic.posts.first.get_message_as_markdown }}</article>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>