{% extends 'users/user_profile.html' %}

{% block profile-content %}
    {% if topics %}
        <div class="profile-feed">
            <nav class="toolbar">
                <div class="include-paginate float-right">
                    {% include 'includes/pagination.html' %}
                </div>
                <h3 class="toolbar-left">
                    You have initiated {{ user.all_topics.count }} topic{{ topics.count|pluralize }}
                </h3>
            </nav>
            {% include 'users/topic-feed.html' %}
        </div>
    {% endif %}
{% endblock %}