{% load static %}

<div class="avatar-wrap d-flex justify-content-center">
    <img src="{% static 'img/avatar.svg' %}" alt="{{ post.created_by.username }}" class="circular w-75">
    <span class="avatar-online"></span>
</div>

<h4 class="profile-meta">
    <small class="profile-user-title">Team member</small>
</h4>

<div class="list-group nav-side">
    <a class="list-group-item active"
       href="{{ user.posts_link }}">
        <i class="fab fa-stack-exchange fa-fw"></i> Posts</a>
    <a class="list-group-item "
       href="{{ user.topics_link }}">
        <i class="fab fa-forumbee fa-fw"></i> Topics</a>
</div>