{% extends '_base.html' %}

{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">
        <a class="text-white" href="{% url 'boards:home' %}">
            <i class="fas fa-home fa-fw"></i> Boards</a>
        <i class="fas fa-angle-double-right mx-2 my-1 text-white" aria-hidden="true"></i>
    </li>
    <li class="breadcrumb-item active text-white-50">{{ user.username }}</li>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-3 profile-sidebar">
                {% include 'users/nav.html' %}
            </div>
            <div class="col-md-9 profile-content">

                {% block section %}
                {% endblock %}

            </div>
        </div>
{% endblock %}

{% block javascript %}
    {% comment %}<script>
        $(document).ready(function () {
            $("a").click(function () {
                $(".nav-side a").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>{% endcomment %}

{% endblock %}